*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner{
    display: flex;
    gap: 1px;
    flex-direction: row;
}

.conteiner div{
    background-color: aqua;
    padding: 20px;
    margin: auto;
}

.col-30{
    flex: 0 1 30%;
}

.col-50{
    flex: 0 1 50%;
}

.col-70{
    flex: 0 1 70%;
}

.col-100{
    flex: 0 1 100%;
}

#50{
    justify-content: center;
}

#70e30{
    justify-content: center;
}

#303030{
    justify-content: center;
}

#rodape{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
}
